.footer{
    position:absolute;
    bottom:0;
    display:block;  
    width:100%;
}
.main{
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
}

.col1,.col2,.col3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col1>h1{
     font-size: 20px;
     color: blue;
}
.col2>h1{
    font-size: 20px;
    color: blue;
}
.col3 > h1{
    font-size: 20px;
    color: blue;
}

@media (max-width: 533px) {
    html,
    body{
    width:100%;
    overflow-x:hidden;
    }
    .main{
       flex-direction: column;
       height: auto; 
       width: 100%;
    }
    .reach, .category, .follow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .reach>p{
       margin-left: 20px;
    }
    .category>p{
        margin-left: 20px;
     }
     .follow>p{
        margin-left: 20px;
        margin-right: 10px;
     }
}