.customcard{
    padding: 10px;
    align-items: center;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.btn{
    max-height: 20px;
    word-wrap: break-word;
    width:fit-content;
}